* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

section {
  height: 100vh;
  width: 100%;
  background-color: cornsilk;
}

.card {
  cursor: pointer;
  font-family: 'Fira Mono', monospace;
  padding-top: 15px;
  /*box-shadow: 4px 8px 16px 4px;*/
  

}






#January {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 10px 20px;
  
}

@media screen and (min-width: 450px) { 
  
#January {
  background-color: #f9f9f9;
}

}

#January .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center; 
  background-color: #c5c5c6;
  /*box-shadow: 0 px 16px 0 rgba(0,0,0,0.2);*/
  transition: 0.5s;
  color: #3c3c49;
}

#January .card:hover {
  color: #ef6c4b;
}

#February {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 10px 20px;
  background-color:  #d14d19;
}

@media screen and (min-width: 480px) {

#February {
  background-color: #f9f9f9;;
}

}

#February .card {
  height: 100px;
  width: 150px;
  background-color: #7952b3;
  border-radius: 10px;
  text-align: center;
  transition-duration: 0.5s;
  box-shadow: #3f2908;
}

#February .card:hover {
  background-color: #af6c09; 
  color: #FFFF;
}

#March {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 10px 20px;
  background-color: #a5ce65;
}

@media screen and (min-width: 500px) {

#March {
  background-color: #f9f9f9;

}
}

#March .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  background-color: #fdf450;
}

#March .card:hover {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}

#April {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 10px 20px;
  background-color: #ecce82;
}

@media screen and (min-width: 550px) {

#April {
  background-color: #f9f9f9;
}

}

#April .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
}

#April .card:link, #April .card:visited {
  background-color: lightcoral; 
  color: black; 
  text-align: center; 
  border-radius: 10px; 
  box-shadow: 5px 5px 5px 5px; 
  transition-duration: 2s;
}
	#April .card:hover, #April .card:active {
    background-color: red;
    color:cornsilk;
  }




#May {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 10px 20px;
}

@media screen and (min-width: 600px) {

#May {
  background-color: #f9f9f9;
}

}

#May .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
}

#May .card:hover {
  opacity: 0.8;   
  transform: scale(1.5);
  color:red;
  transition: 1s; 
  text-shadow: 5px 5px 5px 5px;
}
  

#June {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  grid-gap: 10px 20px;
  background-color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 650px) {

#June {
  display: block;
  background-color: #f9f9f9;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  grid-gap: 1rem;
}

}


#June .card {
  height: 100px;
  width: 150px;
  background-color: #e46666;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  color: whitesmoke;
  flex: 1;
}

#June .card:hover {
  opacity: 0.8; 
  transition: 1.5s;  
  transform: scale(1.2);
  color: black;
}

#July {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px 20px;
  background-color: #cf545e;
}

@media screen and (max-width: 680px) {

#July {
  display: block;
  background-color: #f9f9f9;
  grid-template-areas: 
    'card'
}
}



#July .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.5;
  color: black
}

#July .card:hover {
  opacity: 1;
  color: #dd7280;
}

#August {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px 20px;
  background-color: #dd7280;
}

@media screen and (max-width: 700px) {

#August {
  display: block;
  background-color: #f9f9f9;
  grid-template-areas: 
    'card'
}

}

#August .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
}

#August .card:hover {
  background-color: #dd7280
}

#August .card:active {
  background-color: #db959e;
  color: #666;
  transform: translateY(4px);
}

#September {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px 20px;
  background-color: #8d8b58;
}

@media screen and (max-width: 720px) {

#September {
  display: block;
  background-color: #f9f9f9;
  grid-template-areas: 
    'card'
}

}


#September .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  background-color: #ef6c4c;
}

#October {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px 20px;
  background-color: #a1987a;
}

@media screen and (max-width: 760px) {

#October {
  display: block;
  background-color: #f9f9f9;
  grid-template-areas: 
    'card'
}

}

#October .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  background-color: #C4E324;
}

#October .card:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#November {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px 20px;
  background-color: cornsilk;
}

@media screen and (max-width: 800px) {

#November {
  display: block;
  gap: 10px 20px;
  background-color: cornsilk;
  grid-template-areas: 
    'card'
    'card'
    'card'
    'card'
}
}


#November .card {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  background-color: #f081b5;
}

#December {
  display: block;
  align-items: left;  
  background-color: #f081b5;
  padding-left: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  
}

@media screen and (max-width: 850px) {

#December {
  background-color: #f081b5;
}

}


#December .card {
  display: inline-block;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
  margin: 20px;
  color: #3f2908;
  background-color: #B8CB57;
}