
body {
  background-color: burlywood;
}

.form {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin:15px;
}

.form button {
  margin-top: 30px;
  width: 80px;
  height: 40px;
  color:rgb(206, 133, 23);
  background-color: blanchedalmond;
  font-size: 15px;
}

.form input {
  background-color: blanchedalmond;
  font-size: 30px;
}